# Server Configuration
NODE_ENV=development
PORT=5000

# Database
DATABASE_URL=postgresql://postgres.ohhycwstbiqjecgvemzc:TRW%26NJx64Ch%21%3Fhz@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres

# JWT Configuration
JWT_SECRET=QGjQU55d9oNd06ZQwxZhKvzGxVpSEb3SR8yBj4MesYm
JWT_EXPIRE=7d
JWT_REFRESH_SECRET=R8yBj4MesYmQGjQU55d9oNd06ZQwxZhKvzGxVpSEb3SR
REFRESH_TOKEN_EXPIRE=30d

# ===========================================
# FRONTEND URL - Uncomment based on environment
# ===========================================
FRONTEND_URL=http://localhost:3000 # https://cosmoscraft.netlify.app


# OAuth - Google
# ===========================================
GOOGLE_CLIENT_ID=857609639228-19dg4imqdo1tqb3c9s7vuavv67dv2ql7.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
# Production callback (Render)
GOOGLE_CALLBACK_URL=http://localhost:5000/auth/google/callback

# OAuth - Facebook
# ===========================================
FACEBOOK_APP_ID=878479408567815
FACEBOOK_APP_SECRET=f46ce63ba7de6dc55ade7b7c2d3e7db5
# Production callback (Render)
FACEBOOK_CALLBACK_URL=http://localhost:5000/auth/facebook/callback

# ===========================================
# Email Service (Gmail)
# ===========================================
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=hernandezjosephdanielle@gmail.com
MAIL_PASS=ybhd mrdf sefd zkno
MAIL_FROM=noreply@cosmoscraft.com

#Cloudinary
CLOUDINARY_URL=cloudinary://757327981551895:BFMLSPnyQtlYSnkBmt2u_giYKR8@dfrgh3ww7
